@import url(https://fonts.googleapis.com/css?family=Tsukimi+Rounded&display=swap);
@import 'https://fonts.googleapis.com/css?family=Inconsolata';


.details{
    background-image: url('../../assets/background-image.png');
    background-size: 30vh 40%;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 100%;
    animation: neon-pulse 10s infinite alternate;
    position: absolute;
    filter: brightness(3000%) saturate(250%) contrast(130%);

    justify-items: center;
}

.background{
    background-image: radial-gradient(rgba(17, 88, 30, 0.99), rgba(4, 22, 8, 0.99)), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: rgba(128, 255, 128, 0.8);
}

@keyframes neon-pulse {
    0%   { filter: drop-shadow(0px 0px 30px #ff0000); }
    20%  { filter: drop-shadow(0px 0px 30px #ffb6c1); }
    40%  { filter: drop-shadow(0px 0px 35px #00ff00); }
    60%  { filter: drop-shadow(0px 0px 30px #ffb6c1); }
    80%  { filter: drop-shadow(0px 0px 35px #0000ff); }
    100% { filter: drop-shadow(0px 0px 35px #ffb6c1); }
}

.container {
    display: grid; 
    grid-template-columns: 1.1fr 0.4fr 1fr; 
    grid-template-rows: 0.7fr 0.5fr 0.5fr 0.6fr 0.5fr 3.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Name Name Name"
      "Genres Image Image"
      "Rating Image Image"
      "Platforms Image Image"
      "ReleaseDate Image Image"
      "Description Description Vacio"; 
  }

.name{
    font-family: Inconsolata;
    color: white;
    font-size:50px;
    text-align: center;
    margin-top: 3%;
    grid-area: Name;
    text-align: center;
}

.genres{
    font-family: Inconsolata;
    color: white;
    font-size:30px;
    text-align: left;
    margin-top: 3%;
    grid-area: Genres;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 5%;
    padding-top: 3%;
}

.rating {
    font-family: Inconsolata;
    display: inline-block;
    font-size: 2rem;
    color: white;
    grid-area: Rating;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 5%;
    padding-top: 3%;
}

.platforms{
    font-family: Inconsolata;
    color: white;
    font-size:30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 5%;
    padding-top: 3%;
    grid-area: Platforms;
}

.released{
    font-family: Inconsolata;
    color: white;
    font-size:30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 5%;
    padding-top: 3%;
    grid-area: ReleaseDate;
}

.description{
    font-family: Inconsolata;
    color: green;
    font-size:16px;
    text-align: left;
    margin-top: 5%;
    padding-left: 5%;
    grid-area: Description;
}

.image{
    grid-area: Image;
    max-height: 50vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow:hidden;
}
  
.stars::before {
    font-family: Inconsolata;
    content: '\2605 ';
    color: gold;
}