@import url(https://fonts.googleapis.com/css?family=Tsukimi+Rounded&display=swap);
@import 'https://fonts.googleapis.com/css?family=Inconsolata';


.details{
    background-image: url('../../assets/background-image.png');
    background-size: 30vh 40%;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 100%;
    animation: neon-pulse 10s infinite alternate;
    position: absolute;
    filter: brightness(3000%) saturate(250%) contrast(130%);

    justify-items: center;
}

.background{
    background-image: radial-gradient(rgba(17, 88, 30, 0.99), rgba(4, 22, 8, 0.99)), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: rgba(128, 255, 128, 0.8);
}

@keyframes neon-pulse {
    0%   { filter: drop-shadow(0px 0px 30px #ff0000); }
    20%  { filter: drop-shadow(0px 0px 30px #ffb6c1); }
    40%  { filter: drop-shadow(0px 0px 35px #00ff00); }
    60%  { filter: drop-shadow(0px 0px 30px #ffb6c1); }
    80%  { filter: drop-shadow(0px 0px 35px #0000ff); }
    100% { filter: drop-shadow(0px 0px 35px #ffb6c1); }
}

.container {
    display: grid; 
    grid-template-columns: 1.1fr 0.68fr 0.83fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Name Name Name"
      "Genres Image Image"
      "Rating Image Image"
      "Platforms Image Image"
      "ReleaseDate Image Image"
      "Description Description Description"; 
  }

.name{
    font-family: Inconsolata;
    color: white;
    font-size:50px;
    grid-area: Name;
    text-align: center;
    height: 100px;
    padding-top: 10px;
}

.genres{
    font-family: Inconsolata;
    color: white;
    font-size:30px;
    text-align: left;
    grid-area: Genres;
    background-color: rgba(0, 0, 0, 0.4);
    height: 127px;
    padding-top: 20px;
    padding-left: 30px;
}

.rating {
    font-family: Inconsolata;
    display: inline-block;
    font-size: 2rem;
    color: white;
    grid-area: Rating;
    background-color: rgba(0, 0, 0, 0.4);
    height: 127px;
    padding-top: 20px;
    padding-left: 30px;
}

.platforms{
    font-family: Inconsolata;
    color: white;
    font-size:30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    grid-area: Platforms;
    height: 127px;
    padding-top: 20px;
    padding-left: 30px;
}

.released{
    font-family: Inconsolata;
    color: white;
    font-size:30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    grid-area: ReleaseDate;
    height: 126px;
    padding-top: 20px;
    padding-left: 30px;
}

.description{
    font-family: Inconsolata;
    color: green;
    font-size:16px;
    text-align: left;
    grid-area: Description;
    height: 180px;
    padding-top: 40px;
    padding-left: 20px;
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y:scroll;
}



.description::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(128, 255, 128, 1);
    box-shadow: 
    0 0 1ex rgba(51, 255, 51, 1),
    0 0 2px rgba(255, 255, 255, 0.8);
}

.description::-webkit-scrollbar-thumb{
    background-color: black;
    box-shadow: 
    0 0 1ex rgba(51, 255, 51, 1),
    0 0 2px rgba(255, 255, 255, 0.8);
}

.image{
    grid-area: Image;
    object-fit: cover;
    width: 100%;
    height: 586px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow:hidden;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
  
.stars::before {
    font-family: Inconsolata;
    content: '\2605 ';
    color: gold;
}