@import 'https://fonts.googleapis.com/css?family=Inconsolata';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inconsolata', Helvetica, sans-serif
  }

  .card{
    height:400px;
    width:200px;
    margin:40px 10px;
    padding:1rem;
    cursor:pointer;
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 12px;
  }

  .card img{
    width:100%;
    height:160px;
    border-radius:10px;
    position:relative;
    z-index:1000;
    transition:all .5s ease-in-out;
  }

  .card-content{
    margin:1rem 0;
    color:#222;
    overflow:hidden;
    margin-top:-200px;
    opacity:0;
    visibility:hidden;
    transition:all .5s ease-in-out;
  }

  .name {
    margin:.6rem auto;
    text-align:center;
    color: initial;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
  }

  .genres {
    font-size: 12px;
    line-height:1.8rem;
    text-align:center;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
    font-family: 'Inconsolata', Helvetica, sans-serif
  }

  .rating{
    font-size:1.1rem;
    line-height:1.8rem;
    text-align:center;
    color: antiquewhite;
    font-family: 'Inconsolata', Helvetica, sans-serif
  }

  .rating:after{
    content:'★';
    color:gold;
  }

  .platforms{
    font-size: 12px;
    text-align: center;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
  }
  
  .ver{
    opacity: 0;
    color: rgba(255, 26, 26, 1);
    text-shadow:
        0 0 1ex rgb(185, 45, 37),
        0 0 2px rgba(255, 255, 255, 0.8);
  }

  .card:hover .ver{
    opacity: 1;
  }

  .navLink:hover{
    color:#fff;
    background-color:#000;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.4);
  }

  .card:hover img{
    margin-top:-80px;
    box-shadow:0 0 4px 6px rgba(0,0,0,0.3);
  }
  .card:hover>.card-content{
    margin-top:0;
    opacity:1;
    visibility:visible;
  }
  @media screen and (max-width:800px){
    .container{
      flex-wrap:wrap;
    }
  }