@import 'https://fonts.googleapis.com/css?family=Inconsolata';

.searchFormContainer{
    display: flex;
    padding: 10px;
    justify-content: left;
    align-items: center;
    max-width: 200px;
}

.searchInputContainer{
    display: flex;
}


.searchText{
    font-family: Inconsolata;
    padding:15px;
    border-radius: 15px 0px 0px 15px;
    color: rgba(128, 255, 128, 1);
    border: none;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
}

::placeholder {
    color: rgba(128, 255, 128, 1);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
  }

.button {
    font-family: Inconsolata;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: rgba(128, 255, 128, 1);
    padding: 12px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 1px solid black;
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
    margin: 4px 2px;
    cursor: pointer;
}
